<div class="right-content-wrapper pad-bot-0">
    <div class="chat-page-main-wrapper">
        <div class="chat-page-box-header">
            <p class="heading-chat">Chat</p>
            <div style="display: flex;align-items: center;">
                <div id="actionsDropdown" class="dropdown action-dropdown">
                    <a class=" dropdown-toggle action-dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Actions</a>
                    <div class="dropdown-menu action-dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0);">Action 1</a>
                        <a class="dropdown-item" href="javascript:void(0);">Action 2</a>
                        <a class="dropdown-item" href="javascript:void(0);">Action 3</a>
                    </div>
                </div>
                <div>
                    <a class="close-chat-btn" href="javascript:void(0);">
                                        Close chat
                                    </a>
                </div>
            </div>
        </div>
        <div class="chat-box-content-wrapper">
            <div class="chat-page-left-wrapper">
                <div class="usr-img-name-dropdown-wrapper">
                    <div class="chat-user-img-container">
                        <img class="user-img" src="./assets/img/dummy-profile.png" alt="">
                        <div class="status-dot online"></div>
                    </div>
                    <div style="margin-left: 15px;">
                        <p class="user-name-text">Aadiguru</p>
                        <div id="statusDropdown" class="dropdown status-dropdown">
                            <a class=" dropdown-toggle status-dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                                <div style="display: flex;align-items: center;">
                                    <div class="status-circle online"></div>
                                    <p class="status-text">Online</p>
                                </div>
                            </a>
                            <div class="dropdown-menu status-dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0);">
                                    <div class="status-circle online"></div>
                                    <p class="status-text">Online</p>
                                </a>
                                <a class="dropdown-item" href="javascript:void(0);">
                                    <div class="status-circle away"></div>
                                    <p class="status-text">Away</p>
                                </a>
                                <a class="dropdown-item" href="javascript:void(0);">
                                    <div class="status-circle invisible-status"></div>
                                    <p class="status-text">Invisible</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-list-wrapper">
                    <p class="chat-page-boxes-heading">Open Chats</p>
                    <div class="chat-list-container">
                        <a class="chat-list-item-box item-box-active" href="javascript:void(0);">
                            <p class="chat-visitor-name">Rajesh Muni</p>
                            <div class="number-box-div">
                                <p class="chat-number-text">3</p>
                            </div>
                        </a>

                        <a class="chat-list-item-box" href="javascript:void(0);">
                            <p class="chat-visitor-name">Rajesh Muni</p>
                            <div class="number-box-div">
                                <p class="chat-number-text">1</p>
                            </div>
                        </a>

                        <a class="chat-list-item-box" href="javascript:void(0);">
                            <p class="chat-visitor-name">Rajesh Muni</p>
                            <div class="number-box-div">
                                <p class="chat-number-text">1</p>
                            </div>
                        </a>

                        <a class="chat-list-item-box" href="javascript:void(0);">
                            <p class="chat-visitor-name">Rajesh Muni</p>
                            <div class="number-box-div">
                                <p class="chat-number-text">1</p>
                            </div>
                        </a>

                        <a class="chat-list-item-box" href="javascript:void(0);">
                            <p class="chat-visitor-name">Rajesh Muni</p>
                            <div class="number-box-div">
                                <p class="chat-number-text">1</p>
                            </div>
                        </a>

                        <a class="chat-list-item-box" href="javascript:void(0);">
                            <p class="chat-visitor-name">Rajesh Muni</p>
                            <div class="number-box-div">
                                <p class="chat-number-text">1</p>
                            </div>
                        </a>

                        <a class="chat-list-item-box" href="javascript:void(0);">
                            <p class="chat-visitor-name">Rajesh Muni</p>
                            <div class="number-box-div">
                                <p class="chat-number-text">1</p>
                            </div>
                        </a>

                        <a class="chat-list-item-box" href="javascript:void(0);">
                            <p class="chat-visitor-name">Rajesh Muni</p>
                            <div class="number-box-div">
                                <p class="chat-number-text">1</p>
                            </div>
                        </a>

                        <a class="chat-list-item-box" href="javascript:void(0);">
                            <p class="chat-visitor-name">Rajesh Muni</p>
                            <div class="number-box-div">
                                <p class="chat-number-text">1</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="chat-page-center-wrapper">
                <div class="chat-messages-main-wrapper">
                    <div class="chat-messages-header">
                        <div class="chat-message-header-icon-container">
                            <img class="comment-icon-img" src="./assets/img/comment.svg" alt="">
                        </div>
                    </div>
                    <div class="clearfix chat-messages-window-wrapper">
                        <div class="chat-messages-left-wrapper">
                            <div class="messages-user-img-container">
                                <img class="user-img" src="./assets/img/dummy-profile.png" alt="">
                                <div class="messages-status online"></div>
                            </div>
                            <div style="width: 80%;margin-left: 15px;">
                                <div class="message-left-bubble">
                                    <p class="message-text">Lorem ipsum dolor sit amet.</p>
                                </div>
                                <p class="message-time">28m ago</p>
                            </div>
                        </div>
                        <div class="chat-messages-right-wrapper">
                            <div style="width: 80%;margin-right: 15px;">
                                <div class="message-right-bubble">
                                    <p class="message-text">Lorem ipsum dolor sit amet.</p>
                                </div>
                                <p class="message-time right-side">28m ago</p>
                            </div>
                            <div class="messages-user-img-container">
                                <img class="user-img" src="./assets/img/dummy-profile.png" alt="">
                                <div class="messages-status online"></div>
                            </div>
                        </div>
                    </div>

                    <div class="message-send-box-wrapper">
                        <div class="message-send-box-container">
                            <div>
                                <textarea class="message-type-input" name="" id="" cols="30" rows="10" placeholder="Type your reply here…"></textarea>
                            </div>
                            <div class="bottom-icons-with-send-btn">
                                <div class="message-send-box-icon-container">

                                    <div class="message-send-box-icon-div">
                                        <a href="javascript:void(0);">
                                            <!-- <img src="./assets/img/emoji.svg" alt=""> -->
                                            <svg class="message-send-box-icon" id="emoji" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.49 14.491">
                                                                <ellipse id="Ellipse_219" data-name="Ellipse 219" cx="1" cy="1" rx="1" ry="1" transform="translate(3.944 4.602)"/>
                                                                <ellipse id="Ellipse_220" data-name="Ellipse 220" cx="1" cy="1" rx="1" ry="1" transform="translate(8.204 4.602)"/>
                                                                <path id="Path_1519" data-name="Path 1519" d="M869.745,1261a7.245,7.245,0,1,0,7.245,7.246A7.267,7.267,0,0,0,869.745,1261Zm0,13.5a6.257,6.257,0,1,1,6.257-6.257A6.254,6.254,0,0,1,869.745,1274.5Z" transform="translate(-862.5 -1261)"/>
                                                                <path id="Path_1520" data-name="Path 1520" d="M876.056,1289.655a4.858,4.858,0,0,1-3.993-2.416.548.548,0,0,1,.162-.7.48.48,0,0,1,.682.168,3.521,3.521,0,0,0,6.3,0,.5.5,0,0,1,.682-.168.54.54,0,0,1,.162.7A4.858,4.858,0,0,1,876.056,1289.655Z" transform="translate(-868.81 -1278.113)"/>
                                                              </svg>
                                        </a>
                                    </div>
                                    <div class="message-send-box-icon-div">
                                        <a href="javascript:void(0);">
                                            <!-- <img src="./assets/img/gif.svg" alt=""> -->
                                            <svg class="message-send-box-icon" id="gif" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.903 12.62">
                                                                <path id="Path_1911" data-name="Path 1911" d="M6.332-4.4H4.358a.521.521,0,0,0-.582.582v.247a.521.521,0,0,0,.582.582h.9V-.926C5.257.167,4.763.537,3.847.537S2.437.167,2.437-.926V-7.694c0-1.093.494-1.463,1.41-1.463s1.41.37,1.41,1.463v.811a.529.529,0,0,0,.582.582h.494a.521.521,0,0,0,.582-.582V-8.011c0-1.78-1.128-2.609-3-2.609H3.776c-1.868,0-3,.828-3,2.609v7.4C.78,1.259,1.908,2,3.776,2h.141c1.868,0,3-.758,3-2.609V-3.817A.514.514,0,0,0,6.332-4.4Zm4.177,5.675V-9.9a.529.529,0,0,0-.582-.582H9.434a.521.521,0,0,0-.582.582V1.277a.521.521,0,0,0,.582.582h.494A.529.529,0,0,0,10.509,1.277Zm2.626.582h.494a.529.529,0,0,0,.582-.582V-3.57h2.344a.521.521,0,0,0,.582-.582v-.317a.521.521,0,0,0-.582-.582H14.21V-9.016H17.1a.514.514,0,0,0,.582-.582v-.3a.521.521,0,0,0-.582-.582H13.135a.521.521,0,0,0-.582.582V1.277A.521.521,0,0,0,13.135,1.859Z" transform="translate(-0.78 10.62)" />
                                                              </svg>
                                        </a>
                                    </div>
                                    <div class="message-send-box-icon-div">
                                        <label style="margin: 0;cursor: pointer;">
                                                            <!-- <img src="./assets/img/photo.svg" alt=""> -->
                                                            <input hidden type="file" size="60">
                                                            <svg class="message-send-box-icon" id="photo" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 13.395 13.395">
                                                                <path id="Path_1913" data-name="Path 1913" d="M11.721,0H1.674A1.676,1.676,0,0,0,0,1.674V11.721A1.676,1.676,0,0,0,1.674,13.4H11.721A1.676,1.676,0,0,0,13.4,11.721V1.674A1.676,1.676,0,0,0,11.721,0ZM1.674,1.116H11.721a.559.559,0,0,1,.558.558V5.629L10.441,3.791a.558.558,0,0,0-.789,0L5.721,7.722,4.3,6.3a.558.558,0,0,0-.789,0l-2.4,2.4V1.674a.559.559,0,0,1,.558-.558ZM11.721,12.279H1.674a.559.559,0,0,1-.558-.558V10.278L3.907,7.487,7.14,10.72a.558.558,0,1,0,.789-.789L6.51,8.512l3.536-3.536,2.233,2.233v4.513A.559.559,0,0,1,11.721,12.279Zm0,0"/>
                                                                <path id="Path_1914" data-name="Path 1914" d="M66.233,65.116A1.116,1.116,0,1,1,65.116,64,1.116,1.116,0,0,1,66.233,65.116Zm0,0" transform="translate(-61.767 -61.767)" />
                                                              </svg>
                                                        </label>
                                    </div>

                                    <div class="message-send-box-icon-div">
                                        <label style="margin: 0;cursor: pointer;">
                                                            <svg class="message-send-box-icon" id="attachment" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.413 14.225">
                                                                <g id="Group_1468" data-name="Group 1468" transform="translate(0 0)">
                                                                  <path id="Path_1915" data-name="Path 1915" d="M10.866,21.355a2.766,2.766,0,0,0-1.583.82L2.89,28.569A1.924,1.924,0,0,0,2.328,29.6,1.8,1.8,0,0,0,4.4,31.673a1.916,1.916,0,0,0,1.029-.56l5.833-5.833a.288.288,0,0,0,0-.407l-.407-.407a.288.288,0,0,0-.407,0L4.557,30.357a.646.646,0,0,1-.913-.913l6.531-6.531a1.45,1.45,0,0,1,1.032-.428,3.32,3.32,0,0,1,2.347,2.285,1.453,1.453,0,0,1-.41,1.015L6.336,32.828a2.606,2.606,0,0,1-1.535.808,4.265,4.265,0,0,1-3.23-1.2A4.5,4.5,0,0,1,.453,29.4a2.565,2.565,0,0,1,.772-1.585l6.332-6.332a.288.288,0,0,0,0-.407l-.407-.407a.288.288,0,0,0-.407,0L.35,27.06A3.6,3.6,0,0,0-.707,29.641,4.657,4.657,0,0,0,.73,33.262a5.233,5.233,0,0,0,3.9,1.541,3.446,3.446,0,0,0,2.457-1.1l6.882-7.12a2.61,2.61,0,0,0,.734-1.835C14.706,23.2,12.458,21.153,10.866,21.355Z" transform="translate(0.707 -20.583)"/>
                                                                </g>
                                                              </svg>
                                                              
                                                            <input hidden type="file" size="60">
                                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <button class="message-send-btn">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chat-page-right-wrapper">
                <div class="usr-img-input-wrapper">
                    <div class="right-wrapper-img-container">
                        <div class="chat-user-img-container">
                            <img class="user-img" src="./assets/img/dummy-profile.png" alt="">
                            <div class="status-dot online"></div>
                        </div>
                    </div>
                    <div style="width: 78%;">
                        <input class="chat-page-name-email-input active-input" type="text" placeholder="Add Name">
                        <input class="chat-page-name-email-input" type="text" placeholder="Add Email">
                    </div>
                </div>
                <div class="add-phone-notes-input-wrapper">
                    <input class="chat-page-name-email-input" type="text" placeholder="Add Phone">
                    <textarea class="add-note-input" name="" id="" cols="25" rows="6" placeholder="Add visitor notes"></textarea>
                </div>

                <div class="tags-show-wrapper">
                    <p class="tags-section-heading">Tags</p>
                    <div class="tags-container">
                        <a class="tags-box" href="javascript:void(0);">
                            <img class="tags-image" src="./assets/img/attachment.svg" alt="">
                            <p>vip</p>
                        </a>
                        <a class="tags-box" href="javascript:void(0);">
                            <img class="tags-image" src="./assets/img/attachment.svg" alt="">
                            <p>advance</p>
                        </a>
                        <a class="tags-box" href="javascript:void(0);">
                            <img class="tags-image" src="./assets/img/plus (1).svg" alt="">
                        </a>
                    </div>
                </div>

                <div class="visitor-data-info-boxes-wrapper">
                    <div class="visitor-data-info-boxes-container">
                        <div class="data-info-box">
                            <p class="visitor-info-box-number">2</p>
                            <p class="visitor-info-box-text">Past visits</p>
                        </div>
                        <div class="data-info-box border-l-r">
                            <p class="visitor-info-box-number">2</p>
                            <p class="visitor-info-box-text">Past chats</p>
                        </div>
                        <div class="data-info-box">
                            <p class="visitor-info-box-number">5 mins</p>
                            <p class="visitor-info-box-text">Time on site</p>
                        </div>
                    </div>
                </div>

                <div class="tags-show-wrapper">
                    <p class="tags-section-heading">Page visited</p>
                    <div class="link-with-time">
                        <a class="link-text" href="javascript:void(0);">
                                            google.com/search?q=my+ip&oq=...
                                        </a>
                        <p class="visited-time-text">2s</p>
                    </div>

                    <div class="link-with-time">
                        <a class="link-text" href="javascript:void(0);">
                                            google.com/search?q=my+ip&oq=...
                                        </a>
                        <p class="visited-time-text">2s</p>
                    </div>

                    <div class="link-with-time">
                        <a class="link-text" href="javascript:void(0);">
                                            google.com/search?q=my+ip&oq=...
                                        </a>
                        <p class="visited-time-text">2s</p>
                    </div>

                    <div class="link-with-time">
                        <a class="link-text" href="javascript:void(0);">
                                            google.com/search?q=my+ip&oq=...
                                        </a>
                        <p class="visited-time-text">2s</p>
                    </div>
                </div>

                <div class="user-info-wrapper">
                    <p class="tags-section-heading">User info</p>
                    <a class="user-info-content-wrapper" href="javascript:void(0);">
                        <img class="user-info-img" src="./assets/img/location.svg" alt="">
                        <p class="user-info-content-text">Location</p>
                    </a>

                    <a class="user-info-content-wrapper" href="javascript:void(0);">
                        <img class="user-info-img" src="./assets/img/chrome.svg" alt="">
                        <p class="user-info-content-text">Browser</p>
                    </a>

                    <a class="user-info-content-wrapper" href="javascript:void(0);">
                        <img class="user-info-img" src="./assets/img/location.svg" alt="">
                        <p class="user-info-content-text">Device</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>